[submodule "2022-10-02/durable-functions-aggregator-pattern"]
	path = 2022-10-02/durable-functions-aggregator-pattern
	url = https://github.com/marcelmedina/durable-functions-aggregator-pattern.git
[submodule "2022-09-27/durable-functions-human-interaction-pattern"]
	path = 2022-09-27/durable-functions-human-interaction-pattern
	url = https://github.com/marcelmedina/durable-functions-human-interaction-pattern.git
[submodule "2022-09-17/solid-interface-segregation-principle"]
	path = 2022-09-17/solid-interface-segregation-principle
	url = https://github.com/marcelmedina/solid-interface-segregation-principle.git
[submodule "2022-09-13/solid-liskov-substitution-principle"]
	path = 2022-09-13/solid-liskov-substitution-principle
	url = https://github.com/marcelmedina/solid-liskov-substitution-principle.git
[submodule "2022-09-05/durable-functions-monitor-pattern"]
	path = 2022-09-05/durable-functions-monitor-pattern
	url = https://github.com/marcelmedina/durable-functions-monitor-pattern.git
