[submodule "2022-10-02/durable-functions-aggregator-pattern"]
	path = 2022-10-02/durable-functions-aggregator-pattern
	url = https://github.com/marcelmedina/durable-functions-aggregator-pattern.git
[submodule "2022-09-27/durable-functions-human-interaction-pattern"]
	path = 2022-09-27/durable-functions-human-interaction-pattern
	url = https://github.com/marcelmedina/durable-functions-human-interaction-pattern.git
[submodule "2022-09-17/solid-interface-segregation-principle"]
	path = 2022-09-17/solid-interface-segregation-principle
	url = https://github.com/marcelmedina/solid-interface-segregation-principle.git
[submodule "2022-09-13/solid-liskov-substitution-principle"]
	path = 2022-09-13/solid-liskov-substitution-principle
	url = https://github.com/marcelmedina/solid-liskov-substitution-principle.git
[submodule "2022-09-05/durable-functions-monitor-pattern"]
	path = 2022-09-05/durable-functions-monitor-pattern
	url = https://github.com/marcelmedina/durable-functions-monitor-pattern.git
[submodule "2022-08-28/solid-open-closed-principle"]
	path = 2022-08-28/solid-open-closed-principle
	url = https://github.com/marcelmedina/solid-open-closed-principle.git
[submodule "2022-08-27/solid-single-responsibility-principle"]
	path = 2022-08-27/solid-single-responsibility-principle
	url = https://github.com/marcelmedina/solid-single-responsibility-principle.git
[submodule "2022-07-25/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy"]
	path = 2022-07-25/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy
	url = https://github.com/marcelmedina/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy.git
[submodule "2022-07-21/grpc-services-with-protobuf-net"]
	path = 2022-07-21/grpc-services-with-protobuf-net
	url = https://github.com/marcelmedina/grpc-services-with-protobuf-net.git
[submodule "2022-07-12/fluent-validation-azure-function"]
	path = 2022-07-12/fluent-validation-azure-function
	url = https://github.com/marcelmedina/fluent-validation-azure-function.git
[submodule "2022-06-17/durable-functions-async-http-apis-pattern"]
	path = 2022-06-17/durable-functions-async-http-apis-pattern
	url = https://github.com/marcelmedina/durable-functions-async-http-apis-pattern.git
[submodule "2022-06-11/grpc-service-sample"]
	path = 2022-06-11/grpc-service-sample
	url = https://github.com/marcelmedina/grpc-service-sample.git
[submodule "2022-05-19/auto-mapper-net6"]
	path = 2022-05-19/auto-mapper-net6
	url = https://github.com/marcelmedina/auto-mapper-net6.git
[submodule "2022-05-19/cqrs-mediatr-with-fluentvalidation-and-automapper-sample"]
	path = 2022-05-19/cqrs-mediatr-with-fluentvalidation-and-automapper-sample
	url = https://github.com/marcelmedina/cqrs-mediatr-with-fluentvalidation-and-automapper-sample.git
[submodule "2022-04-14/convert-arm-template-to-bicep-deploy-azure-devops-part4-test"]
	path = 2022-04-14/convert-arm-template-to-bicep-deploy-azure-devops-part4-test
	url = https://github.com/marcelmedina/convert-arm-template-to-bicep-deploy-azure-devops-part4-test.git
[submodule "2022-04-04/fluent-validation-net6"]
	path = 2022-04-04/fluent-validation-net6
	url = https://github.com/marcelmedina/fluent-validation-net6.git
[submodule "2022-04-04/cqrs-mediatr-with-fluentvalidation-sample"]
	path = 2022-04-04/cqrs-mediatr-with-fluentvalidation-sample
	url = https://github.com/marcelmedina/cqrs-mediatr-with-fluentvalidation-sample.git
[submodule "2022-03-27/cqrs-mediatr-sample"]
	path = 2022-03-27/cqrs-mediatr-sample
	url = https://github.com/marcelmedina/cqrs-mediatr-sample.git
[submodule "2022-03-21/durable-functions-fan-out-in-pattern"]
	path = 2022-03-21/durable-functions-fan-out-in-pattern
	url = https://github.com/marcelmedina/durable-functions-fan-out-in-pattern.git
[submodule "2022-03-15/cqrs-mediatr-autofac-sample"]
	path = 2022-03-15/cqrs-mediatr-autofac-sample
	url = https://github.com/marcelmedina/cqrs-mediatr-autofac-sample.git
[submodule "2022-03-04/durable-functions-chaining-pattern"]
	path = 2022-03-04/durable-functions-chaining-pattern
	url = https://github.com/marcelmedina/durable-functions-chaining-pattern.git
[submodule "2022-02-20/open-telemetry-exporter"]
	path = 2022-02-20/open-telemetry-exporter
	url = https://github.com/marcelmedina/open-telemetry-exporter.git
[submodule "2022-02-13/open-telemetry-azure"]
	path = 2022-02-13/open-telemetry-azure
	url = https://github.com/marcelmedina/open-telemetry-azure.git
[submodule "2022-01-25/azure-function-keyvault"]
	path = 2022-01-25/azure-function-keyvault
	url = https://github.com/marcelmedina/azure-function-keyvault.git
[submodule "2021-12-21/azure-function-dependency-injection-sample"]
	path = 2021-12-21/azure-function-dependency-injection-sample
	url = https://github.com/marcelmedina/azure-function-dependency-injection-sample.git
[submodule "2022-10-08/durable-functions-aggregator-pattern"]
	path = 2022-10-08/durable-functions-aggregator-pattern
	url = https://github.com/marcelmedina/durable-functions-aggregator-pattern.git
[submodule "2022-11-23/durable-functions-net7-out-of-process"]
	path = 2022-11-23/durable-functions-net7-out-of-process
	url = https://github.com/marcelmedina/durable-functions-net7-out-of-process.git
[submodule "2022-12-07/durable-functions-net7-isolated-class-based-types"]
	path = 2022-12-07/durable-functions-net7-isolated-class-based-types
	url = https://github.com/marcelmedina/durable-functions-net7-isolated-class-based-types.git
[submodule "2022-12-14/grpc-net7-transcoding-json"]
	path = 2022-12-14/grpc-net7-transcoding-json
	url = https://github.com/marcelmedina/grpc-net7-transcoding-json.git
[submodule "2022-12-20/migrate-aspnet-framework-to-aspnet-core-with-yarp"]
	path = 2022-12-20/migrate-aspnet-framework-to-aspnet-core-with-yarp
	url = https://github.com/marcelmedina/migrate-aspnet-framework-to-aspnet-core-with-yarp.git
[submodule "2023-01-11/azure-functions-trigger-bindings-queue"]
	path = 2023-01-11/azure-functions-trigger-bindings-queue
	url = https://github.com/marcelmedina/azure-functions-trigger-bindings-queue.git
[submodule "2023-02-14/azure-functions-trigger-bindings-blob"]
	path = 2023-02-14/azure-functions-trigger-bindings-blob
	url = https://github.com/marcelmedina/azure-functions-trigger-bindings-blob.git
