[submodule "2022-10-02/durable-functions-aggregator-pattern"]
	path = 2022-10-02/durable-functions-aggregator-pattern
	url = https://github.com/marcelmedina/durable-functions-aggregator-pattern.git
[submodule "2022-09-27/durable-functions-human-interaction-pattern"]
	path = 2022-09-27/durable-functions-human-interaction-pattern
	url = https://github.com/marcelmedina/durable-functions-human-interaction-pattern.git
[submodule "2022-09-17/solid-interface-segregation-principle"]
	path = 2022-09-17/solid-interface-segregation-principle
	url = https://github.com/marcelmedina/solid-interface-segregation-principle.git
[submodule "2022-09-13/solid-liskov-substitution-principle"]
	path = 2022-09-13/solid-liskov-substitution-principle
	url = https://github.com/marcelmedina/solid-liskov-substitution-principle.git
[submodule "2022-09-05/durable-functions-monitor-pattern"]
	path = 2022-09-05/durable-functions-monitor-pattern
	url = https://github.com/marcelmedina/durable-functions-monitor-pattern.git
[submodule "2022-08-28/solid-open-closed-principle"]
	path = 2022-08-28/solid-open-closed-principle
	url = https://github.com/marcelmedina/solid-open-closed-principle.git
[submodule "2022-08-27/solid-single-responsibility-principle"]
	path = 2022-08-27/solid-single-responsibility-principle
	url = https://github.com/marcelmedina/solid-single-responsibility-principle.git
[submodule "2022-07-25/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy"]
	path = 2022-07-25/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy
	url = https://github.com/marcelmedina/convert-arm-template-to-bicep-deploy-azure-devops-part5-deploy.git
[submodule "2022-07-21/grpc-services-with-protobuf-net"]
	path = 2022-07-21/grpc-services-with-protobuf-net
	url = https://github.com/marcelmedina/grpc-services-with-protobuf-net.git
